/* Variabes */

:root {
    --bg-color: grey;
    --text-color: #FFFFFF;
    --bg-button: #f3f3f3;;
  }
  

body {
background:var(--bg-color);
font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
height:100%;
}

.wrapper {
width: 800px;
margin: 30px auto;
color:var(--text-color);
text-align:center;
}

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 2.6em;
  text-transform: uppercase;
}

#seconds, #tens{
  font-size:2em;
}

button {
background:var(--bg-color);
color:var(--text-color);
border: solid 1px var(--text-color);
border-radius: 5px;
cursor:pointer;
font-size: 1.2em;
padding: 18px 10px;
width: 180px;
margin: 10px;
outline: none;

transition: 0.5s;
}

button:hover {
    background:var(--bg-button);
    border: solid 1px var(--text-color);
    color: var(--bg-color);
}
