@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:wght@500;700&display=swap');

* {
  margin: 0;
  padding: 0;
}
/* Variabes */
:root {
  --bg-color: white;
  --text-color: black;
  --bg-button: lightgray;
}
body.dark {
  --bg-color: black;
  --text-color: white;
  --bg-button: gray;
}

body {
background:var(--bg-color);
font-family: 'Roboto Mono', monospace;
}



p {
  margin-bottom: 100px;
  font-family: 'Roboto', san;
  font-size: 1.5em;
  color: var(--text-color);
}

.wrapper {
width: 100%;
margin: 100px auto;
color:var(--text-color);
text-align:center;
}


#minutes, #seconds{
  font-size:2em;
}

button {
background-color: var(--bg-button);
color:var(--text-color);
border: none;
border-radius: 50px;
cursor:pointer;
font-family: 'Roboto';
font-weight: 700;
font-size: 1em;
padding: 15px;
width: 120px;
margin: 10px;

transition: 0.5s;
}

#button-start {
  background-color: rgb(255, 127, 127);
  color: white;
}
